<a href="https://colab.research.google.com/github/techySPHINX/Python_Libraries_Learning/blob/main/pandas_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
# for 2d data structures we learn dataframes

l = [1,2,3,4,5,6]
var = pd.DataFrame(l)
print(var)
print(type(var))

   0
0  1
1  2
2  3
3  4
4  5
5  6
<class 'pandas.core.frame.DataFrame'>

In [11]:
my_dict = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 28],
    "City": ["New York", "London", "Paris"]
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(my_dict)

# Display the DataFrame
print(df)
print(type(df))
#here in dataframe length of particlar list inside dictionary must be same otherwise it would show error

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   28     Paris
<class 'pandas.core.frame.DataFrame'>

In [10]:
my_dict = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 28],
    "City": ["New York", "London", "Paris"]
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(my_dict, columns=["Age"],index=["a","s","c"])
print(df)

   Age
a   25
s   30
c   28

In [15]:
my_dict = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 28],
    "City": ["New York", "London", "Paris"]
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(my_dict, columns=["Age","Name"])
print(df)
print(df["Name"][1])

   Age     Name
0   25    Alice
1   30      Bob
2   28  Charlie
Bob

In [23]:
# Create lists of lists (data)
data = [
    ["Apple", 10, 3.5],
    ["Banana", 15, 4.2],
    ["Orange", 8, 2.8]
]

# Create column names (recommended for clarity)
columns = ["Fruit", "Quantity", "Price"]

# Create a DataFrame from the data and column names (if provided)
df = pd.DataFrame(data,columns=columns)

print(df)

# Access the first column (index 0) using `.iloc`
fruits_only = df.iloc[:, 0]

# Print the "Fruit" column (now a Series)
print(fruits_only)

    Fruit  Quantity  Price
0   Apple        10    3.5
1  Banana        15    4.2
2  Orange         8    2.8
0     Apple
1    Banana
2    Orange
Name: Fruit, dtype: object

In [25]:
import pandas as pd

# Create two Series
fruits = pd.Series(["Apple", "Banana", "Orange"])
prices = pd.Series([10, 15, 8])

# Combine Series into a DataFrame using a dictionary
data = {"Fruits": fruits, "Prices": prices}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)
print(type(df))

   Fruits  Prices
0   Apple      10
1  Banana      15
2  Orange       8
<class 'pandas.core.frame.DataFrame'>