<a href="https://colab.research.google.com/github/techySPHINX/Python_Libraries_Learning/blob/main/pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
x = [3, 4, 5, 6, 7, 8]
var = pd.Series(x,index=['a','s','d','f','g','h'],dtype="float",name="python")
print(var)
print(type(var))
print(var[2])

a    3.0
s    4.0
d    5.0
f    6.0
g    7.0
h    8.0
Name: python, dtype: float64
<class 'pandas.core.series.Series'>
5.0

In [13]:
names = ["Python", "C", "C++", "Java"]
scores = [12, 13, 14, 15]
ranks = [1, 4, 3, 2]

# Create a dictionary
data = {"Name": names, "Score": scores, "Rank": ranks}

# Create a Pandas DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df.to_string())

     Name  Score  Rank
0  Python     12     1
1       C     13     4
2     C++     14     3
3    Java     15     2

In [14]:
names = ["Python", "C", "C++", "Java"]
scores = [12, 13, 14, 15]
ranks = [1, 4, 3, 2]

# Create a dictionary
data = {"Name": names, "Score": scores, "Rank": ranks}

var1 = pd.Series(data)
var1   # here they are mixed datas hence it is showing dtype as object

Name     [Python, C, C++, Java]
Score          [12, 13, 14, 15]
Rank               [1, 4, 3, 2]
dtype: object

In [15]:
s = pd.Series(12, index=[1,2,3,4,5,6,7])
print(s)
print(type(s))

1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64
<class 'pandas.core.series.Series'>

In [16]:
s1 = pd.Series(12, index=[1,2,3,4,5,6,7])
s2 = pd.Series(12, index=[1,2,3,4]) #here in this scenario pandas has a better experience while not showing BROADCAST ERROR as shown in numpy when we add or subtract
print(s1+s2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64